@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

html, body { 
    padding: 0; 
    margin: 0;
    background-color: #242436;
}

#TerminalWrap {
    position: absolute;
    margin: auto;
    top: 0; right: 0; left: 0; bottom: 0;
    height: 70vh; width: 80vw;
    overflow: hidden;
    border-radius: 2vw;
}

#Terminal {
    position: absolute; left: 0; top: 0;
    background-color: #111136;
    height: calc(78% - 2vh - 1em); width: 96%;
    padding: 2% 2% 20% 2%;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 20px;
    font-family: "Kode Mono", monospace;
    color: #bababa;
} 

#Terminal::-webkit-scrollbar { width: 0px; }

#TerminalInput {
    position: absolute;
    bottom: -1vh; left: 0;
    width: 96%; height: 1em;
    font-size: 20px;
    font-family: "Kode Mono", monospace;
    color: #bababa;
    background-color: #0a0a1f;
    border: 0;
    outline: none;
    padding: 1vh 2% 2vh 2%;
}